.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
    /*width: 100%;*/
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Hero */

.parallax {
  width:100%;
  height:570px;

  display: block;
  background-attachment: fixed;
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center center;
}

.jumbotron .motto {
  color: black;
  font-size: 64px;
  font-weight: 600;
  position: relative;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.27);
  text-transform: uppercase;
  z-index: 3;
  margin: 0 auto;
  top: 22%;
}
.motto .pro {
  position: absolute;
  bottom: 74px;
  right: -28px;
  font-size: 18px;
  background-color: black;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  color: white;
  text-shadow: 0 0 0;
}

.jumbotron .motto .border {
  border: 3px solid black;
  padding: 0px 30px;
  text-align: center;
}

.parallax .parallax-image {
  overflow: hidden;
}
.parallax .parallax-image img{
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .parallax .parallax-image {
    width: 100%;
    height: 640px;
    overflow: hidden;
  }
  .parallax .parallax-image img{
    height: 100%;
    width: auto;
  }
}

@media screen and (min-width: 991px) {
  .lightbox .modal-dialog {
    width: 960px;
  }
}

@media (max-width: 768px) {
  .btn, .btn-morphing{
    margin-bottom: 10px;
  }
  .jumbotron .motto {
    top: 170px;
    margin-top: 0;
    font-size: 60px;
    width: 270px;
  }
}

