rect.bordered {
  stroke: #E6E6E6;
  stroke-width: 3px;
}

text.mono {
  font-size: 9pt;
  /*font-family: Consolas, courier;*/
  font-family: inherit;
  color: black;
}

/* Heat Map Selected */
rect.selected {
  fill: yellow;
}

/* Pie Chart Selected */
#pieCanvas {
}
g.slice.selected path {
  fill: yellow;
}

/* Bar Chart */
#barCanvas {
  position: relative;
  float: left;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


/* Chart */

.chartBackdrop {
  border-radius: 6px;
  background: #eee;
  padding: 3px;
}

.chartBackdrop div {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.chartBackdrop div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 5px;
  color: white;
  box-shadow: 2px 2px 2px #666;
}



