rect.bordered {
  stroke: #E6E6E6;
  stroke-width: 3px;
}

text.mono {
  font-size: 9pt;
  /*font-family: Consolas, courier;*/
  font-family: inherit;
  color: black;
}

rect.selected {
  fill: yellow;
}

/* Bar Chart */
.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

