<div class="jumbotron">
  <div class="motto">
    <div class="border">PISA</div>
    <div>Visualisation</div>
  </div>
</div>

<div id="parents" class="jumbotron">
  <h1>What influences a parent's expectations for their child?</h1>
  <p class="lead">
    <br>
    Children can feel pressured when their parent's have such high expectations of them.
    The following visualisations display the parent's educational expectations of their children.
    Specifically, it displays a trend in the data where parent's that earn less, tend to have high
    educational expectations for their child. Another interesting finding is that fathers tend to
    expect more from their children as opposed to mothers.
  </p>
</div>

<div ng-app="pisaVisualisationApp" ng-controller="ParentsCtrl">
  <div class="chartBackdrop">
    <heat-map chart-data="parentTotalExpectationsFile" data-ng-click="setSelected(salary, expectation)"></heat-map>
    <vertical-bar-chart chart-data="parentQualificationsFile" selected-salary="selectedSalary" selected-expectation="selectedExpectation"></vertical-bar-chart>
    <pie-chart chart-data="parentExpectationsFile" selected-salary="selectedSalary" selected-expectation="selectedExpectation"></pie-chart>
  </div>
</div>

<div id="children" class="jumbotron">
  <h1>Do parents expectations affect how their child feels about school?</h1>
  <p class="lead">
    <br>
    Children can feel pressured when their parent's have such high expectations of them.
    The following visualisations display the parent's educational expectations of their children.
    Specifically, it displays a trend in the data where parent's that earn less, tend to have high
    educational expectations for their child.
  </p>
</div>

<div ng-app="pisaVisualisationApp" ng-controller="ChildrenCtrl">
  <div class="chartBack">
    <div class="pisa-buttons">
      <button type="button" class="btn btn-success" ng-click="switchDataset('ISCED lv2')">ISCED lv2</button>
      <button type="button" class="btn btn-success" ng-click="switchDataset('ISCED lv3B,C')">ISCED lv3B,C</button>
      <button type="button" class="btn btn-success" ng-click="switchDataset('ISCED lv3A')">ISCED lv3A</button>
      <button type="button" class="btn btn-success" ng-click="switchDataset('ISCED lv4')">ISCED lv4</button>
      <button type="button" class="btn btn-success" ng-click="switchDataset('ISCED lv5B')">ISCED lv5B</button>
      <button type="button" class="btn btn-success" ng-click="switchDataset('ISCED lv5A,6')">ISCED lv5A,6</button>
    </div>
    <diverging-stacked-bar-chart chart-data="schoolFeelingsFile" selected-expectation="selectedExpectation"></diverging-stacked-bar-chart>
    <!--<area-chart chart-data="test" selected-salary="selectedSalary" selected-expectation="selectedExpectation"></area-chart>-->
  </div>
</div>
