<div class="jumbotron">
  <h1>Parent Expectations</h1>
  <p class="lead">
    <br>
    Children can feel pressured when their parent's have such high expectations of them.
    The following visualisations display the pparent's educational expectations of their children.
    Specifically, it displays a trend in the data where parent's that earn less, tend to have high
    educational expectations for their child.
  </p>
</div>

<div ng-app="pisaVisualisationApp" ng-controller="Vis4Ctrl">
  <div class="chartBackdrop">
    <heat-map-two chart-data="parentExpectationsFile"></heat-map-two>
    <vertical-bar-chart chart-data="parentExpectationsFile"></vertical-bar-chart>
    <pie-chart chart-data="parentExpectationsFile"></pie-chart>
  </div>
  <!--<button ng-click="setDataset()"> Dataset </button>-->
</div>
