<div class="jumbotron">
  <h1> Force Graph Visualisation </h1>
</div>
<div ng-controller="Vis2Ctrl">
  <svg ng-attr-width="{{width}}"
       ng-attr-height="{{height}}">
    <line ng-repeat="link in links"
          class="link"
          ng-attr-stroke-width="{{link.strokeWidth}}"
          ng-attr-x1="{{link.source.x}}"
          ng-attr-y1="{{link.source.y}}"
          ng-attr-x2="{{link.target.x}}"
          ng-attr-y2="{{link.target.y}}">
    </line>
    <circle ng-repeat="node in nodes"
            class="node"
            r="5"
            ng-attr-fill="{{node.color}}"
            ng-attr-cx="{{node.x}}"
            ng-attr-cy="{{node.y}}">
      <title>{{node.name}}</title>
    </circle>
  </svg>
</div>
